@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');;
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body{
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

body{
    border-top: solid 10px #456d61;
}

h3{
    font-size:20px;
    margin: 10px 0;
    color: #000;
    font-weight: 600;
}

i{
    color: #456d61;
    margin-right: 5px;
}

textarea:focus, input:focus{
    outline: none;
    border:none;
    box-shadow: none;
}

.login .logo{
    max-width: 150px;
    width:100%;
    display: block;
    margin: auto;
    margin-top: -100px;
    background: #ffffff;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 0px;
}

.header-logo{
    max-width: 50px;
}

.navbar-brand span{
    font-weight: 500;
    margin-left: 5px;
}

.login{
    background: #ffffff;
    max-width:450px;
    width:100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.login h1{
    text-align: center;
    font-weight: 700;
    color: #313634;
    margin-bottom: 40px;
    margin-top:10px;
}

.login label{
    display: block;
    width: 100%;
    color: #777;
    text-align: left !important;
}

.login input[type="email"], .login input[type="password"]{
    background: #eee;
    border: none;
    padding: 12px 15px;
    font-size: 15px;
}

.login input[type="email"]:focus, .login input[type="password"]:focus{
    border-bottom: solid 2px #456d61;
    box-shadow: none;
}

.login button{
    padding: 10px 30px;
    background: #456d61;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
}

.login button:hover{
    background: #456d61;
}

.challenge{
    background: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    padding: 15px 15px;
    margin-bottom: 10px;
}

.header-right{
    width: 100%;
    float: right;
    text-align: right;
}

.header-right ul{
    padding:0;
    margin:0;
}

.header-right li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.header-right li.streak-icon i{
    color: orange;
}

.header-right li i{
    color: #456d61;
    font-size: 20px;
    margin-right: 5px;
}

.sidebar{
    max-width:300px;
    width: 100%;
    background: #f3f4f6;
    height: 100vh;
    position: fixed;
    padding: 0;
    border-right: solid 3px #eee;
}

.sidebar h2{
    color: #8c8e90;
    font-size: 20px;
    padding: 25px 20px 0px 33px;
}

.sidebar ul{
    padding:15px;
    margin:0;
}

.sidebar ul li{
    list-style-type: none;
    padding: 12px 15px;
    color: #8f9193;
}

.sidebar ul a{
    color: #313634;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.sidebar ul li i{
    color: #8f9193;
    width: 23px;
}

.sidebar .active li i{
    color: #456d61;
}

.sidebar .active li{
    background: #ffffff;
    padding: 12px 15px;
    color: #456d61;
    font-weight: 600;
    border-radius: 10px;
}



.content{
    padding: 30px 30px 30px 330px;
}

.calendar {
    text-align: center;
    margin: 0 auto;
    /* max-width: 600px; */
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .week-grid,
  .month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day {
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
  }

  .daynumber{
    background: #e5e5e5;
    border-radius: 100%;;
    width: 35px;
    height: 35px;
    margin: auto;
    padding: 5px;
    line-height: 25px;
  }

  .currentDay{
    background: #456d61;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: auto;
    padding: 5px;
    line-height: 25px;
  }

  .day-names-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Display day names in a row */
    gap: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .day-name, .dayname {
    text-align: center;
    font-weight: bold;
  }

  .journalicon{
    margin-bottom: 0px;
    display: inline-block;
    position: absolute;
    margin-top: 3px;
    color: #456d61;
  }

  .journalname{
    font-weight: 400;
    display: block;
    width: 95%;
    margin-left: 20px;
    font-size: 15px;
  }

  .journaldesc{
    color: rgb(143, 145, 147);
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
  }

  table{
    margin-top:20px;
  }

  table tr td{
    padding: 15px 0 !important;
  }

  table tr:last-child td{
    border: none !important;
  }

  .btn-add{
    float: right;
    background: rgb(69, 109, 97);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 7px 15px;
    margin-top: -5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  }

  .btn-delete{
    float: right; 
    font-size: 15px;
    text-align: center;
    background: red;
    color: white; 
    width: 25px; 
    height: 25px; 
    padding: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  }
  